/* Navbar */

.nav {
    background-color: #333;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
  
.navbar-brand {
    font-weight: bold;
    color: yellow;
}


/* Form */

.form-select {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

.title {
    text-align: start;
    white-space: nowrap;
}

#delete-btn {
    margin-left: 5px;
}

#cancel-btn {
    margin-left: 5px;
}

.invalid-field {
    background-color: #ef1a1a61;
}

.form-select {
    margin-bottom: 0;
}


/* Pagina de lista de perdas */

#project-team-scroll {
    height: 400px;
    overflow: hidden;
    outline: none;
}

#new-user-button {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.tbody-row {
    cursor: pointer;
}